/* Make background image full screen */
.container {
  position: fixed;  /* Ensure full screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Keeps elements positioned correctly */
}


.content {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center;
}

.timer-box {
  background-color: rgba(0.8, 0.8, 0.8, 0.8); /* Black box behind timer */
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  margin-top: 100px; /* Moves it down */
  transform: translateY(-50%); /* Ensures it stays centered */
}

.timer-text {
  font-size: 10vw;
  font-weight: bold;
  color: white;
}

.start-button {
  font-size: 42px;
  font-weight: bold;
  color: #e5410a;
  background-color: black;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px; /* Add spacing between timer and button */
  width: 200px;
  text-align: center;
}

.start-button:hover {
  background-color: #222;
}

@media (max-width: 1024px) {
  .timer-overlay {
    font-size: 6rem;
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .timer-overlay {
    font-size: 4rem;
    padding: 15px 40px;
  }
}

@media (max-width: 480px) {
  .timer-overlay {
    font-size: 2rem;
    padding: 10px 20px;
  }
}
