/* Make background image full screen */
.container {
  position: fixed;  /* Ensure full screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




.start-button:hover {
  background-color: #222; /* Slightly lighter black */
}


/* Style for countdown timer */
.timer-overlay {
  font-size: 5vw; /* Responsive font size */
  font-weight: bold;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Keep "hrs" in the same line */
  padding: 20px;
}

.start-button {
  font-size: 20px; /* Reduce font size slightly */
  font-weight: bold;
  color: orange;
  background-color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px; /* Increase spacing from timer */
  width: 200px;
  text-align: center;
}


@media (max-width: 1024px) {
  .timer-overlay {
    font-size: 6rem;
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .timer-overlay {
    font-size: 4rem;
    padding: 15px 40px;
  }
}

@media (max-width: 480px) {
  .timer-overlay {
    font-size: 2rem;
    padding: 10px 20px;
  }
}
